*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0;
}

.menu {
  display: flex;
  gap: 40px;
  flex-grow: 1;
}
.address-menu {
  display: flex;
  gap: 40px;
  flex-grow: 1;
}

.menu-list {
  display: flex;
  flex-wrap: nowrap;
  height: 72px;
  justify-content: center;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  align-self: center;
}

.logo-change {
  color: var(--dark);
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.link-menu:hover,
.link-menu:focus {
  color: var(--pressed-state);
}
.address-list {
  font-style: normal;
}
.address-link {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.container-header {
  padding: 0 24px;
  display: flex;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;

  align-items: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section-title {
  background-color: var(--dark);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin: 0 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  width: 168px;
  height: 56px;
  align-items: center;
  margin-top: 18px;
  justify-content: center;
}
.button:hover {
  background-color: var(--pressed-state);
}
.button:focus {
  background-color: var(--pressed-state);
}
.title-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.container-content {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.text-container {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 120px 24px;
}
.container-people {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-items: center;
}
.container-team {
  height: 732px;
  flex-shrink: 0;
}
.container-photo {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.photo {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.content.list {
  display: flex;
}
.photo-item {
  width: 360px;
  height: 300px;
  display: block;
}
.team {
  display: flex;
  gap: 24px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 639px 72px 639px;
}
.background-color {
  background-color: var(--light);
}

.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
}
.studio-footer {
  color: var(--light);
}
.paragraph-white {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  font-size: 16px;
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
}
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  border: 0px;
}
.portfolio-button:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
.portfolio-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
.container-navigator {
  display: inline-flex;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  align-items: center;

  justify-content: center;
}
.button-navigator {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.photo-background {
  background-color: var(--white-background);
}
.container-footer {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  height: 312px;
  width: 1440px;
  height: 312px;
  margin: 0 auto;
  flex-shrink: 0;
}

.logo-link-footer {
  display: flex;
  align-items: flex-start;
}
.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-list-text {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.portfolio-main-container {
  display: flex;
  margin: 10px;
}
.portfolio-main {
  display: block;
  text-decoration: none;
  color: inherit;
}
